body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.material-icons {
  font-size: 2.4em;
  cursor: pointer;
}
.card {
  width: 300px;
}
.card .card-image .card-title {
  color: black;
  font-weight: 400;
}
.cart {
  margin-top: 40px;
}
.collection .collection-item {
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
}
.collection .collection-item img {
  width: 150px;
  margin-right: 25px;
}
.item-desc {
  align-self: center;
}
/* ---baner */

.banner1 {
  height: 700px;
  margin-top: -19px;
  font-size: 120px;
  text-align: center;
  margin-top: 50px;
  font-weight: bolder;
}
.banner2 {
  background-color: red;
  height: 700px;
  margin-top: -19px;
  font-size: 50px;
  font-weight: bolder;
}
.subtitle {
  font-size: 20px;
  color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}
.moredeal {
  height: 50px;
  width: 150px;
  border-radius: 25px;
}
.logo {
}
.navigation {
  border: 1px solid black;
}
.menu {
  /* padding-left: 10px; */
  margin-top: 30px;
}
.content {
  text-align: center;
  font-size: 100px;
}
.cart {
  text-align: right;
}
/* .cartt {
  justify-content: right;
} */
.bannerimg {
  height: 350px;
  width: 80%;
  margin-top: 50px;
}
.discount {
  margin-top: -100px;
}
.menutitle {
  color: red;
  text-align: center;
  font-family: cursive;
  font-weight: bolder;
}
.menusubtitle {
  text-align: center;
  font-weight: bolder;
  font-size: 45px;
}
.Addtocart {
  width: 100%;
}
.offer {
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

/* --form-- */
.form {
  margin-top: 30px;
  border: 1px solid gray;
}
.heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
.confirmorder {
  color: white;
  background-color: orange;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  font-size: 17px;
  font-weight: bold;
}
.title {
  text-align: left;
}
/* --popover-- */
.popoverr {
  height: 350px;
  /* width: 400px; */
  overflow-y: scroll;
}
.display {
  width: 220px;
}
.popimage {
  width: 151px;
  height: 150px;
}
.cartbut {
  width: 50px;
  height: 50px;
}
.carticon {
  font-size: 25px;
}
.Imagecol {
  text-align: center;
  margin-top: 20px;
}
.Title {
  margin-top: 150px;
}
.natural {
  text-align: center;
  color: red;
  font-family: cursive;
}
.menuuu {
  text-align: center;
}

.maindiv {
  border: 1px solid lightgray;
}
.Imagedes {
  margin-top: 10px;
}
/* --total-- */
.total {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.totalcol {
  margin-top: 600px;
}
.displaydesc {
  display: inline;
}
.deskdiv {
  text-align: center;
}
.diapaydetail {
  display: inline;
}
.ordersrow {
  margin-left: 60px;
}
.orderdesc {
  text-align: center;
}
.butnum {
  width: 100%;
  border: 1px solid black;
}
.Image {
  margin-top: 20px;
}
.pizaa {
  text-align: center;
}
.loginbut {
  width: 100%;
}
.loginbutton {
  height: 40px;
  width: 100px;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 25px;
}
.modal {
  margin-top: 100px;
}
.ordersuccess {
  color: lightgreen;

  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 40px;
  font-weight: bold;
}
/* .myorder {
  margin-left: 60%;
  width: 20%;
  margin-bottom: 10px;
} */
.yourdetails {
  margin-top: 10px;
  text-align: center;
}
.flield {
  width: 600px;
}
.validate {
  width: 500px;
  text-align: right;
}
.form {
  text-align: center;
  border: 1px solid lightgray;
}
.myordertitle {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 70%;
  text-align: center;
}
.myorderdesc {
  margin-left: 500px;
  display: inline;
}
.myorderdetails {
  margin-left: 10px;
  display: inline;
}
.placeorderbutton {
  margin-bottom: 10px;
  width: 500px;
}
.space {
  margin-top: 10px;
}

.pizzaname {
  font-size: 20px;
  text-align: center;
  border: 1px solid black;
}
.itemslist {
  width: 100%;
}
.navbarbaner {
  border: 1px solid black;
}
.ban1 {
  display: inline;
}
.ban2 {
  display: inline;
}
.myorder {
  text-align: center;
  width: 100vh;
  margin-left: 50%;
}
.username {
  width: 100%;
}
.headname {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
/* ------------------------- */
.navmenu {
  height: 615px;
  border-bottom: 1px solid lightgrey;
}
.bansidebar {
  background-color: #e41515;
}
.banlabel {
  padding-top: 15%;
  text-align: center;
}
.navcolor {
  background-color: #1a1a1a;
}
.menu {
  padding: 10px;
  color: white;
}
/* --------------itemlist-------------- */
.cartempty {
  text-align: center;
}
.cardd {
  padding: 10px;
  /* height: 470px; */
  margin-bottom: 30px;
  margin-left: 30px;
}
.carddrow {
  padding-left: 5%;
}

@media only screen and (max-device-width: 1024px) {
  .cardd {
    padding: 10px;
    /* height: 470px; */
    margin-bottom: 30px;
    margin-left: 10px;
  }
  .carddrow {
    padding-left: 4%;
  }
}
@media only screen and (max-device-width: 768px) {
  .cardd {
    padding: 10px;
    /* height: 470px; */
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .carddrow {
    padding-left: 5%;
  }
}
@media only screen and (max-device-width: 425px) {
  .cardd {
    padding: 10px;
    /* height: 470px; */
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .carddrow {
    margin-top: 20px;
    padding-left: 8%;
  }
  .natural {
    margin-top: 250px;
  }
  .moredeal {
    height: 40px;
    margin-bottom: 5px;
  }
}
@media only screen and (max-device-width: 375px) {
  .cardd {
    padding: 10px;
    /* height: 470px; */
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .carddrow {
    margin-top: 20px;
    padding-left: 11%;
  }
  .natural {
    margin-top: 250px;
  }
  .moredeal {
    height: 40px;
    margin-bottom: 5px;
  }
}
@media only screen and (max-device-width: 320px) {
  .cardd {
    padding: 10px;
    /* height: 470px; */
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .carddrow {
    margin-top: 20px;
    padding-left: 3%;
  }
  .natural {
    margin-top: 250px;
  }
  .moredeal {
    height: 40px;
    margin-bottom: 5px;
  }
}

.listing {
  list-style: none;
}
